/* Global Styles*/

*, 
*::after, 
*::before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Poppins', 'Georgia', sans-serif;
     font-size: 10px;
}

/***********************************
*** Navigation and Header styles ***
************************************/

.main-header {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     height: 90vh;
     background-image: 
          linear-gradient(rgba(0, 0, 0, 0.514), 
          rgba(0, 0, 0, 0.432)), 
          url(/images/jaredd-craig-HH4WBGNyltc-unsplash.jpg);
     background-size: cover;
     background-position: center;
}

nav {
     position: fixed;
     top: 0;
     width: 100%;
     height: 12vh;
     background-color: #0054a6;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.bottom-margin {
     margin-bottom: .5rem;
}

li, 
a {
     list-style: none;
     font-size: .8rem;
     color: #fff;
     text-decoration: none;
     display: inline;
     padding: 0 .8rem 0 0;
}

.main-welcome {
     color: rgb(255, 255, 255);
     letter-spacing: .1rem;
     font-size: 1.5rem;
     margin-top: 5rem;
     padding: 2rem;
     text-align: center;
     font-weight: bold;
}

/***************************************
****         Middle styles          ****
****************************************/
.services-heading, 
.location-heading,
.about-heading{
     text-align: center;
     font-size: 1.1rem;
     margin: 1.1rem;
}

.card {
     display: flex;
     align-items: baseline;
     flex-wrap: wrap;
     margin: 1.1rem 1.1rem;
}

.services-para, 
.location-para{
     margin: 1rem;
     font-size: .8rem;
     text-align: left;
     padding: .5rem;
}

.uppercase {
     text-transform: uppercase;
     font-weight: bold;
}
/***************************************
****        Location styles         ****
****************************************/
.location {
     background-color: #0054a6;
     color: #fff;
     padding: 1.1rem;
}

.location-heading {
     text-decoration: white underline solid;
     text-underline-offset: .5rem;
     letter-spacing: .2rem;
     font-size: 1.4rem;
}

.location-paragraphs {
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
     justify-content: space-between;
}

.location-para {
     font-size: .8rem;
     text-align: center;
     margin-bottom: .6rem;
}

.tele, 
.location-social {
     color: #fff;
     text-align: center;
}

.location-social{
     font-size: .8rem;
}

.social {
     display: inline-block;
     margin-bottom: .4rem;
     color: white;
     text-decoration: white underline;
}
iframe {
     display: block;
     max-width: 300px;
     max-height: 300px;
     width: 95%;
     height: 40vh;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 2rem;
}

/***************************************
****        About Us styles         ****
****************************************/
.about-section {
     margin: 1.4rem;
     font-size: .8rem;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-wrap: wrap;
}

.about-subheading {
     text-align: center;
     font-size: .9rem;
}

.aboutus-section {
     margin-bottom: .5rem;
}

.aboutus-section > h4 {
     text-align: center;
}

/***************************************
****          Footer styles         ****
****************************************/
footer {
     text-align: center;
     font-size: .9rem;
}

/***************************************
****       Changing ViewPort         ****
****************************************/
@media screen and (min-width:640px) {
     .location-map {
          display: block;
          width: 500px;
          height: 500px;
          margin-right: auto;
          margin-left: auto;
     }

     .about-section {
          margin: .5rem;
          display: flex;
          align-content:space-around;
          flex-direction: row;
          align-items: stretch;
          flex-wrap: nowrap;
          justify-content: center;
     }

     .aboutus-section > h4 {
          margin-bottom: .3rem;
     }
     .aboutus-section {
          width: 90rem;
          padding: .8rem;
     }
}

@media screen and (min-width:768px) {
     nav {
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          justify-content: space-around;
     }

     .bottom-margin {
          font-size: .9rem;
          margin-bottom: 0;
     }

     li a {
          /* padding-right: .4rem; */
          font-size: .7rem;
          font-weight: 700;
     }

     .location {
          display: flex;
          align-items: center;
          justify-content: flex-start;
     }

     .location-heading {
          align-self: center;
     }
     
     .location-para{
          text-align: center;
     }
  
     iframe {
          display: block;
          max-width: 600px;
          min-height: 400px;
     }
}

@media (min-width:1024px) {
     nav {
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          justify-content: space-around;
     }

     .bottom-margin {
          margin-bottom: 0;
     }

     li a {
          padding-right: 2.4rem;
          font-size: .9rem;
          font-weight: 700;
     }

     li:hover {
          text-decoration: underline;
          text-underline-offset: .3rem;
          text-decoration-thickness: .2rem;
     }

     /* Breaking paragraphs into 3*/
     .card {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
     }

     .services-para {
          width:33%
     }
}    


